body {
    font-family: Arial, sans-serif;
    background-color: aqua
  }
  
  #myForm {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #myForm label {
    display: block;
    margin-bottom: 10px;
  }
  
  #myForm input[type="text"],
  #myForm input[type="email"],
  #myForm input[type="tel"],
  #myForm input[type="password"],
  #myForm input[type="date"] ,
  #myForm input[type="number"],
  #myForm input[type="checkbox"]{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #myForm input[type="text"]:focus,
  #myForm input[type="email"]:focus,
  #myForm input[type="tel"]:focus,
  #myForm input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  #myForm input[type="checkbox"]{
    width:20px;
    height:20px;
    margin-bottom: 20px;
    padding: 0;
    border: none;
  }
  
  #myForm .error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  #myForm button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #myForm button[type="submit"]:hover {
    background-color: #8e3e81;
  }
  
